.title {
    height: 50px;
}
h1 {
    font-family: 'Titillium Web', sans-serif;
}
.round_symbol {
    width: 50px;
    height: auto;
}
.bottom {
    height: 50px;
}
.user a{
    text-decoration: none;
    font-weight: bold;
}