{% for board in boards %}
  <tr>
    <td scope="row">
      <a class="text-dark text-decoration-none" href="{% url 'board:detail' board.pk %}">
        {% if board.is_updated %}
          <span class="badge badge-info">U</span>
        {% endif %}
        <span style="margin-right: 5px;">{{board.title}}</span>
        <span class="comment">{{ board.comment_set.count }}</span>
      </a>
    </td>
    <td>{{board.name}}</td>
      {% load board_extras %}
    <td>{{ board.created_at | timesince | upto:',' }} 전</td>
    <td>{{ board.hit_set.all.0.count }}</td>
  </tr>
{% endfor %}