{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class='dummy'></div>
<div class="container">
  <div class="d-flex flex-column">
    <div class='mb-3 border-bottom border-dark d-flex justify-content-between'>
      <h2>
        {{board.title}}
      </h2>
      <h4>
        {{board.name}}
      </h4>
    </div>
  
    <div class="d-flex justify-content-between">
        <span>작성 : {{board.created_at|date:"y. n. j. G:i"}}</span>
        <span>수정 : {{board.updated_at|date:"y. n. j. G:i"}}</span>
    </div>
  </div<>
  <div class='my-5'>
    <div>
      <img style='max-width: 100% !important; height: auto !important;' src="/media/{{board.image}}" alt="">
    </div>
    <div>
      {{board.content|safe}}
    </div>
  </div>
  
  <div class='d-flex mt-3'>
    <a class="btn btn-dark mr-3" href="{% url 'board:index' %}" role="button">뒤로가기</a>
    <a class="btn btn-dark mr-3" href="{% url 'board:update' board.pk %}" role="button">수정하기</a>
    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal2">삭제하기</button>
  </div>

  {% comment %} modal {% endcomment %}
  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">삭제 확인</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          정말 삭제하시겠습니꽈?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">아니요</button>
          <form action="{% url 'board:delete' board.pk %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">네</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class='dummy'></div>

</div>


{% endblock content %}