{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block accounts %}
   <link rel="stylesheet" href="{% static 'stylesheet/style_board.css' %}">
   <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
  <div class='dummy container d-flex align-items-center'>
    <div  aria-label="breadcrumb">
      <ol class="bg-white breadcrumb">
        <li class="breadcrumb-item"><a class="text-dark font-weight-bold" href="{% url 'home:main' %}">Home</a></li>
        <li class="breadcrumb-item"><a class="text-dark font-weight-bold" href="{% url 'board:index' %}">Board</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detail</li>
      </ol>
    </div>
  </div>

  <div class="container">
    <div class="card">
      <div class="card-header header ">
        <div class="row justify-content-between">
          <div class="col-9 px-0 d-flex align-items-center">
            <h5 class="board_title mb-0 mx-3">{{ board.title }}</h5>
          </div>
          <div class="col-3 d-flex justify-content-end">
            {% include "board/_like.html" %}
          </div>
        </div>
        <div class="id_created_at d-flex justify-content-between mt-2">
          <div>
            {% if request.user.first_name == board.name %}
              <a style="text-decoration: none; color: #0E2231; font-weight: bolder" data-toggle="collapse" href="#collapseDetail" role="button" aria-expanded="false" aria-controls="collapseExample">
                <img class="rounded-circle-username" src="{% static 'images/round_symbol.jpg' %}" alt="">
                {{ board.name }}
              </a>
              <div class="collapse" id="collapseDetail">
                <div class="card card-body">
                  <a style="text-decoration: none; color: #0E2231;" href="{% url 'board:update' board.pk %}">수정하기</a>
                  <a style="text-decoration: none; color: #0E2231;" href="" data-toggle="modal" data-target="#exampleModal2">삭제하기</a>
                </div>
              </div>
            {% else %}
              <img class="rounded-circle-username" src="{% static 'images/round_symbol.jpg' %}" alt="">
              {{ board.name }}
            {% endif %}
          </div>
          <div>
            {% load board_extras %}
            {{ board.created_at | timesince | upto:',' }} 전 |
            조회 : {{ board.hit_set.all.0.count }}
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="container">
          <img src="/media/{{board.image}}" alt="">
        </div>
        <div>
          {{board.content|safe}}
        </div>
        <div>
          {% for hash in hash_list %}
            <a href="/board/search_tag?term={{ hash }}">
              <span class="badge badge-pill badge-dark">{{ hash }}</span>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  {# comment & reply #}
  {% include 'board/_comment_all.html' %}

{#  board article modal: edit & delete #}
  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">삭제 확인</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          정말 삭제하시겠습니까?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">아니요</button>
          <form action="{% url 'board:delete' board.pk %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">네</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class='dummy'></div>

{% endblock content %}