{% extends 'base.html' %}
{% load bootstrap4 %}
{% load staticfiles%}
{% load crispy_forms_tags %}
{% block content %}


<div class='dummy'></div>
<div class="container">
{% if request.resolver_match.url_name == 'create' %}
    <h2>새 글쓰기</h2>
{% else %}
    <h2>수정하기</h2>
{% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {{form.media}}
        {{ form | crispy }}
        <button class="btn btn-primary" type="submit">제출</button>
    </form>
    <div class='dummy'></div>
</div>
{% endblock content %}
