{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block accounts %}
  <link rel="stylesheet" href="{% static 'stylesheet/style_board.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">
{% endblock accounts %}
{% block content %}
  {% if messages %}
    <div class="alert alert-secondary" role="alert">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}
  <div class="board_dummy"></div>
  <div class="container d-flex justify-content-between align-items-center">
    <div class="title my-4 d-flex align-items-center">
      <img class="round_symbol mr-5" src="{% static 'images/round_symbol.jpg' %}">
      <h2 class="mb-0">Board</h2>
    </div>
    <div class="user profile">
      <img style="width: 50px;height: 50px;" class="rounded-circle" src="{{ request.user.profile.url }}" alt="">
      <a style="text-decoration: none; color: #0E2231; font-weight: bolder" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        {{ request.user.first_name }}
      </a>님 환영합니다.
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <a style="text-decoration: none; color: #0E2231;" href="{% url 'board:create' %}">새글쓰기</a>
          <a style="text-decoration: none; color: #0E2231;" href="{% url 'accounts:update' %}">회원정보 수정하기</a>
          <a style="text-decoration: none; color: #0E2231;" href="{% url 'accounts:log_out' %}">로그아웃</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">

    <div  aria-label="breadcrumb">
      <ol class="bg-white breadcrumb">
        <li class="breadcrumb-item"><a class="text-dark font-weight-bold" href="{% url 'home:main' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Board</li>
        <li class="breadcrumb-item"><a class="text-dark font-weight-bold" href="{% url 'board:create' %}">Create</a></li>
      </ol>
    </div>

    <form action="{% url 'board:search' %}" method="get">
      <div class="d-flex form-row align-items-center select_box">
        <div class="options col-auto my-1">
          <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
          <select name="choose" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
            <option selected>검색기준</option>
            <option value="title">제목</option>
            <option value="name">작성자</option>
            <option value="content">내용</option>
          </select>
        </div>
        <div class="search col-auto">
          <label class="sr-only" for="inlineFormInputGroup">Username</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text"><i type="submit" class="fas fa-search"></i></div>
            </div>
            <input type="text" name="keyword" class="form-control">
          </div>
        </div>
      </div>
    </form>

    <table class="table mt-3 mb-5">
      <thead>
        <tr>
          <th style="width: 40%;">제목</th>
          <th style="width: 20%;">이름</th>
          <th style="width: 25%;">시간</th>
          <th style="width: 20%;">조회</th>
        </tr>
      </thead>
      <tbody>
        {% if boards.number == 1 %}
          {% for notice in notices %}
            <tr>
              <td scope="row">
                <span class="badge badge-secondary">{{notice.choice}}</span>
                <a class="text-dark text-decoration-none" href="{% url 'board:detail' notice.pk %}">
                  <span style="margin-right: 5px;">{{notice.title}}</span>
                  <span class="comment">{{ notice.comment_set.count }}</span>
                </a>
              </td>
              <td>{{notice.name}}</td>
              {% load board_extras %}
              <td>{{notice.updated_at|timesince | upto:','}} 전</td>
              <td>{{notice.hit}}</td>
            </tr>
          {% endfor %}
          {% include 'board/_table.html' %}
        {% else %}
          {% include 'board/_table.html' %}
        {% endif %}
      </tbody>
    </table>
  </div>

  {% include 'board/_pagination.html' %}
  <div class="board_dummy"></div>
{% endblock %}
