{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
  <h2 class="text-center mt-3">Board</h2>
  <div class="container">
    <table class="table my-5">
      <thead>
        <tr>
          <th scope="col">글 번호</th>
          <th scope="col">제목</th>
          <th scope="col">작성 시간</th>
        </tr>
      </thead>
      <tbody>
        {% for board in boards %}
        <tr>
          <td scope="row">{{board.pk}}</td>
          <td><a class="text-dark text-decoration-none" href="{% url 'board:detail' board.pk %}">{{board.title}}</a></td>
          <td>{{board.created_at|date:"y. n. j. G:i"}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
  </div>

  {% if boards.has_other_pages %}
  <nav class="bg-white container d-flex justify-content-center">
    <a style='height: 42px; padding-top: 8px; padding-bottom: 8px;' class="mx-3 btn btn-secondary" href="{% url 'board:create' %}" role="button">새글쓰기</a>
    <ul class="pagination justify-content-center">
      {% if boards.has_previous %}
        <li class="page-item">
          <a class="page-link text-dark" href="?page={{ boards.previous_page_number }}">이전</a>
        </li>
      {% else %}
        <li class="page-item disabled"><a class='page-link'>이전</a></li>
      {% endif %}
        
      {% if boards.number > 3  %}
        <li class="page-item"><a class="page-link text-dark" href="?page=1">1</a></li>
        <li class="page-item">
          <div class="dropdown">
            <a class="page-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ...
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <form class="d-flex" action="" method="POST">
                {% csrf_token %}
                <input name="search" type="text">
                <input type="submit" value="이동">
              </form>
            </div>
          </div>
        </li>
      {% endif %}

      {% for i in page_range %}
        {% if boards.number == i %}
        <li class="page-item disabled"><a class='page-link bg-dark text-white'>{{ i }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link text-dark" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}

      {% if boards.number < max_idx %}
        <li>
          <div class="dropdown">
            <a class="page-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ...
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <form class="d-flex" action="" method="POST">
                {% csrf_token %}
                <input name="search" type="text">
                <input type="submit" value="이동">
              </form>
            </div>
          </div>
        </li>
        <li><a class="page-link text-dark" href="?page={{ max_idx|add:'2' }}">{{ max_idx|add:"2" }}</a></li> 
      {% endif %}


      {% if boards.has_next %}
        <li class="page-item">
          <a class="page-link text-dark" href="?page={{ boards.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled"><a class='page-link text-dark'>다음</a></li>
      {% endif %}
    </ul>
  {% endif %}
  </nav>

{% endblock %}
