{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block accounts %}
  <link rel="stylesheet" href="{% static 'stylesheet/style_board.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">
{% endblock accounts %}
{% block content %}
  {% if messages %}
    <div class="alert alert-secondary" role="alert">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}
  <div class="board_dummy"></div>
  <div class="container d-flex justify-content-between align-items-center">
    <div class="title my-4 d-flex align-items-center">
      <img class="round_symbol mr-5" src="{% static 'images/round_symbol.jpg' %}">
      <h2 class="mb-0">Board</h2>
    </div>
    <div class="user profile">
      <img style="width: 50px;height: 50px;" class="rounded-circle" src="{{ request.user.profile.url }}" alt="">
      <a style="text-decoration: none; color: #0E2231; font-weight: bolder" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        {{ request.user.first_name }}
      </a>님 환영합니다.
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <a style="text-decoration: none; color: #0E2231;" href="{% url 'board:create' %}">새글쓰기</a>
          <a style="text-decoration: none; color: #0E2231;" href="{% url 'accounts:update' %}">회원정보 수정하기</a>
          <a style="text-decoration: none; color: #0E2231;" href="{% url 'accounts:log_out' %}">로그아웃</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">

    <div  aria-label="breadcrumb">
      <ol class="bg-white breadcrumb">
        <li class="breadcrumb-item"><a class="text-dark font-weight-bold" href="{% url 'home:main' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Board</li>
        <li class="breadcrumb-item"><a class="text-dark font-weight-bold" href="{% url 'board:create' %}">Create</a></li>
      </ol>
    </div>

    <form action="{% url 'board:search' %}" method="get">
      <div class="d-flex form-row align-items-center">
        <div class="col-auto my-1">
          <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
          <select name="choose" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
            <option selected>검색기준</option>
            <option value="title">제목</option>
            <option value="name">작성자</option>
            <option value="content">내용</option>
          </select>
        </div>
        <div class="col-auto">
          <label class="sr-only" for="inlineFormInputGroup">Username</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text"><i type="submit" class="fas fa-search"></i></div>
            </div>
            <input type="text" name="keyword" class="form-control">
          </div>
        </div>
      </div>
    </form>

    <table class="table my-2">
      <thead>
        <tr>
          <th scope="col">no</th>
          <th scope="col">작성자</th>
          <th scope="col">제목</th>
          <th scope="col">작성 시간</th>
        </tr>
      </thead>
      <tbody>
        {% if boards.number == 1 %}
          {% for notice in notices %}
            <tr>
              <td scope="row"><h5 class="badge badge-secondary">{{notice.choice}}</h5></td>
              <td>{{notice.name}}</td>
              <td style='font-weight:bold;'>
                <a class="text-dark text-decoration-none" href="{% url 'board:detail' notice.pk %}">
                  <span style="margin-right: 5px;">{{notice.title}}</span>
                  <span class="comment">{{ notice.comment_set.count }}</span>
                </a>
              </td>
              <td>{{notice.created_at|timesince}} 전</td>
            </tr>
          {% endfor %}
          {% for board in boards %}
            <tr>
              <td scope="row">{{board.pk}}</td>
              <td>{{board.name}}</td>
              <td style='font-weight:bold;'>
                <a class="text-dark text-decoration-none" href="{% url 'board:detail' board.pk %}">
                  <span style="margin-right: 5px;">{{board.title}}</span>
                  <span class="comment">{{ board.comment_set.count }}</span>
                </a>
              </td>
              {% load board_extras %}
              <td>{{ board.created_at | timesince | upto:',' }} 전</td>
            </tr>
          {% endfor %}
        {% else %}
          {% for board in boards %}
            <tr>
              <td scope="row">{{board.pk}}</td>
              <td>{{board.name}}</td>
              <td style='font-weight:bold;'>
                <a class="text-dark text-decoration-none" href="{% url 'board:detail' board.pk %}">
                  <span>{{board.title}}</span>
                  <span class="comment">
                    {{ board.comment_set.count }}
                  </span>
                </a>
              </td>
              <td>{{board.created_at|date:"y. n. j. G:i"}}</td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
    
  </div>

  {% if boards.has_other_pages %}
  <nav class="bg-white container d-flex justify-content-center">
    <a style='height: 42px; padding-top: 8px; padding-bottom: 8px;' class="mx-3 btn btn-secondary" href="{% url 'board:create' %}" role="button">새글쓰기</a>
    <ul class="pagination justify-content-center">
      {% if boards.has_previous %}
        <li class="page-item">
          <a class="page-link text-dark" href="?page={{ boards.previous_page_number }}">이전</a>
        </li>
      {% else %}
        <li class="page-item disabled"><a class='page-link'>이전</a></li>
      {% endif %}
        
      {% if boards.number > 3  %}
        <li class="page-item"><a class="page-link text-dark" href="?page=1">1</a></li>
        <li class="page-item">
          <div class="dropdown">
            <a class="page-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ...
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <form class="d-flex" action="{% url 'board:index' %}" method="GET">
                <input name="search" type="text">
                <input type="submit" value="이동">
              </form>
            </div>
          </div>
        </li>
      {% endif %}

      {% for i in page_range %}
        {% if boards.number == i %}
        <li class="page-item disabled"><a class='page-link bg-dark text-white'>{{ i }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link text-dark" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}

      {% if boards.number < max_idx %}
        <li>
          <div class="dropdown">
            <a class="page-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ...
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <form class="d-flex" action="{% url 'board:index' %}" method="GET">
                <input name="search" type="text">
                <input type="submit" value="이동">
              </form>
            </div>
          </div>
        </li>
        <li><a class="page-link text-dark" href="?page={{ max_idx|add:'2' }}">{{ max_idx|add:"2" }}</a></li> 
      {% endif %}


      {% if boards.has_next %}
        <li class="page-item">
          <a class="page-link text-dark" href="?page={{ boards.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled"><a class='page-link text-dark'>다음</a></li>
      {% endif %}
    </ul>
  {% endif %}
  </nav>
  <div class="board_dummy"></div>
{% endblock %}
