{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block accounts %}
  <link rel="stylesheet" href="{% static 'stylesheet/style_tnts.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap" rel="stylesheet">
{% endblock accounts %}
{% block content %}
  <div class="container">
    <div class="title my-4 d-flex align-items-center">
      <img class="round_symbol mr-3" src="{% static 'images/round_symbol.jpg' %}">
      <h2 class="mb-0">Login</h2>
    </div>
  </div>
  <div class="container">
    <form action="" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button class="btn btn-dark" type="submit">LogIn</button>
    </form>
  </div>
{% endblock content %}