{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block accounts %}
  <link rel="stylesheet" href="{% static 'stylesheet/style_board.css' %}">
  <link rel="stylesheet" href="{% static 'stylesheet/calender_style.css' %}">
{% endblock %}
{% block content %}
  <div class="dummy"></div>
  <div class="container">
    <div class="d-flex align-items-center mb-4">
      <img class="round_symbol mr-4" src="{% static 'images/round_symbol.jpg' %}" alt="">
      <h2 class="mb-0">Join Match</h2>
    </div>
    <div  aria-label="breadcrumb">
      <ol class="bg-white breadcrumb">
        <li class="breadcrumb-item"><a class="text-dark font-weight-bold" href="{% url 'home:main' %}">Home</a></li>
        <li class="breadcrumb-item"><a class="text-dark font-weight-bold" href="{% url 'calender:index' %}">Calender</a></li>
        <li class="breadcrumb-item"><a class="text-dark font-weight-bold" href="{% url 'calender:create' %}">Create</a></li>
      </ol>
    </div>

    <form action="{% url 'calender:search' %}" method="get">
      <div style="width: 250px;" class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend2"><i class="fas fa-search"></i></span>
        </div>
        <input placeholder="팀명검색" type="text" class="form-control" aria-describedby="inputGroupPrepend2" name="q">
      </div>
    </form>

    <table class="table my-3">
      <thead>
        <tr>
          <th style="width: 20%;">D-day</th>
          <th style="width: 60%;">Match</th>
          <th style="width: 20%;">참/불</th>
        </tr>
      </thead>
      <tbody>
        {% include 'calender/_table.html' %}
      </tbody>
    </table>
    {% include 'calender/_pagination.html' %}
  </div>
  <div class="dummy"></div>
{% endblock %}