.title {
    height: 50px;
}
h1 {
    font-family: 'Titillium Web', sans-serif;
}
.round_symbol {
    width: 50px;
    height: auto;
}
.bottom {
    height: 50px;
}
.user a{
    text-decoration: none;
    font-weight: bold;
}
.board_dummy{
    height: 50px;
}
.board_title {
    font-family: 'Noto Sans KR', sans-serif;
}
td{
    font-family: 'Noto Sans KR', sans-serif;
}

@media (max-width: 500px) {
    .profile{
        display: none;
    }
}